<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Leinster</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
      <h2>Counties in Leinster:</h2>
      <ion-list>
          <ion-item *ngFor="let county of counties" (click)="getWeatherForCounty(county)">
              {{ county }}
          </ion-item>
      </ion-list>

      <!-- Display weather data -->
      <div *ngIf="weatherData">
          <h3>Weather in {{ selectedCounty }}:</h3>
          <p>Temperature: {{ weatherData.main.temp }}°C</p>
          <p>Weather: {{ weatherData.weather[0].description }}</p>
          <p>Sunrise: {{ formatTimestamp(weatherData.sys.sunrise) }}</p>
          <p>Sunset: {{ formatTimestamp(weatherData.sys.sunset) }}</p>
          <!-- Add more data as needed -->
      </div>
  </div>
</ion-content>
