<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Weather App</ion-title>

        <!-- Display the current date in the top right corner -->
        <ion-text slot="end" class="date-display">{{ currentDate }}</ion-text>

        <!-- Display the hello + name in the top right corner -->
        <ion-text slot="end">{{ greeting }}</ion-text>

        <!-- Log In button -->
        <ion-button slot="end" (click)="promptForName()">Log In</ion-button>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
      <h1>Provinces of Ireland</h1>

      <!-- Connacht Section -->
      <div class="province-section">
          <h2>Connacht:</h2>
          <ion-button [routerLink]="['/connacht']">Connacht</ion-button>
          <ion-slides>
              <ion-slide>
                  <img src="./assets/icon/connacht.png" alt="Connacht Image 1">
              </ion-slide>
          </ion-slides>
      </div>

      <!-- Leinster Section -->
      <div class="province-section">
          <h2>Leinster:</h2>
          <ion-button [routerLink]="['/leinster']">Leinster</ion-button>
          <ion-slides>
              <ion-slide>
                  <img src="./assets/icon/leinster.png" alt="Leinster Image 1">
              </ion-slide>
          </ion-slides>
      </div>

      <!-- Munster Section -->
      <div class="province-section">
          <h2>Munster:</h2>
          <ion-button [routerLink]="['/munster']">Munster</ion-button>
          <ion-slides>
              <ion-slide>
                  <img src="./assets/icon/Munster.png" alt="Munster Image 1">
              </ion-slide>
          </ion-slides>
      </div>

      <!-- Ulster Section -->
      <div class="province-section">
          <h2>Ulster:</h2>
          <ion-button [routerLink]="['/ulster']">Ulster</ion-button>
          <ion-slides>
              <ion-slide>
                  <img src="./assets/icon/ulster.png" alt="Ulster Image 1">
              </ion-slide>
          </ion-slides>
      </div>

  </div>
</ion-content>

<ion-footer>
  <div class="footer-content">
      <p>
          © {{ currentDate | date: 'yyyy' }} Weather App. All rights reserved.
          
      </p>
  </div>
</ion-footer>
